@model IList<project_gn.Models.Customer>

<div class="row">
    <div class="col-md-12">
        <h3>Lista de clientes</h3>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @ViewBag.Message
            </div>
        }

        <div class="table" style="margin-top: 30px">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                   data-order='[[ 0, "asc" ]]' data-page-length='25'>
                <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center" style="width: 40%">Titulo</th>
                        <th class="text-center">porte da empresa</th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Deletar</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var m in Model)
                    {
                        <tr>
                            <td class="text-center" style="padding-top: 15px"><a href="~/customer/@m.Id">@m.Id</a></td>
                            <td class="text-center" style="padding-top: 15px">@m.Name </td>
                            <td class="text-center" style="padding-top: 15px">@m.CompanySize.Type</td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", "Customer", new { id = @m.Id })">
                                    <div class="btn btn-primary">Editar</div>
                                </a>
                            </td>
                            <td class="text-center">
                                <div class="btn btn-danger" onclick="remove(@m.Id)">Deletar</div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
